{% extends 'store/main.html' %}

{% load static %}

{% block content %}

<div class = "p-6">
    <form method="POST" action = "">
        {%csrf_token%}
        <div class="grid grid-cols-2 p-6 border-4 border-purple-900 rounded-xl">
            <div>
                <p class="text-xl"><strong>Introdu adresa de email: </strong></p>
                {{form.email}}
            </div>
            <div class="p-8">
                <input class="px-10 rounded-lg p-2 text-center bg-gradient-to-r from-blue-500 to-purple-600 text-white hover:bg-gradient-to-r hover:from-blue-400 hover:to-purple-500" type = "submit"></input>
            </div>
        </div>
    </form>
</div>

{%endblock content%}